<h3>Comandos a ejecutar</h3>
<form method='post' action='/comandos'>
    <input type="submit" value='correr'>
    <input type="number" name="limite_x">
    <input type="number" name="limite_y">
</form>
<h2>Tamaño de la superficie: <%= @superficie_x%> <%= @superficie_y%></h2> 
<h2 name="caja_titulo">Caja</h2> 
<form method='post' action='/comandos'>
    <textarea rows="4" cols="50" name="caja_de_comandos"></textarea>
    <input type="submit" value='correr_comandos'>
</form>

<p>Posicion inicial del auto: <%= @pos_x%> <%=@pos_y%> <%= @card%></p>
<form method='get' action='/retornar'>
    <input type='submit' value='Retornar'> 
</form>