<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>comandos</title>
    <style>
        body{
            background:white
        }
    </style>
  </head>
  <body>
    <h1>Comandos a ejecutar</h1>
    <form method='post' action='/comandos'>
        <textarea rows="4" cols="50" name="caja_de_comandos"></textarea>
        <input type="submit" value='correr_comandos'>
    </form>

  <form method='get' action='/retornar'>
      <input type='submit' value='Retornar'> 
  </form>
    <h1>Names of all the people</h1>
  <div>
  <h2>Superficie del terreno: <%= @superficie_x%>,<%= @superficie_y%></h2> 
   <% @numeros_de_autos.each do |auto| %>
      <h3>Auto <%= auto %>:</h3>
       <div>Posicion Inicial: <%= @matrizDeDatosDeAutos[auto-1,0][0].to_s %>,<%= @matrizDeDatosDeAutos[auto-1,1][0].to_s %> <%= @matrizDeDatosDeAutos[auto-1,2][0].to_s %></div>
       <div>Comandos ejecutados: <%= @matrizDeDatosDeAutos[auto-1,3][0].to_s %></div>
       <div>Posicion Final: <%= @matrizDeDatosDeAutos[auto-1,4][0].to_s %>,<%= @matrizDeDatosDeAutos[auto-1,5][0].to_s %> <%= @matrizDeDatosDeAutos[auto-1,6][0].to_s %></div>
   <% end %>
  </div>
  </body>
</html>


