<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>comandos</title>
    <style>
        body{
            background:white
        }
    </style>
  </head>
  <body>
    <h1>Comandos a ejecutar</h1>
    <form method='post' action='/comandos'>
        <textarea rows="4" cols="50" name="caja_de_comandos"></textarea>
        <input type="submit" value='correr_comandos'>
    </form>

  <form method='get' action='/retornar'>
      <input type='submit' value='Retornar'> 
  </form>
    <h1>Names of all the people</h1>
  <div>
  <h2>Superficie del terreno: <%= @superficie_x%>,<%= @superficie_y%></h2> 
   <div><%=@cadena_de_resultados%></div>  
  </div>
  <div>
    <h2>Mapa de la superficie</h2>
    <div><%=@grilla%></div>
  </div>
  <div><%= @mensajeDeRobots%></div>
  </body>
</html>


